# Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dados locais
data/
logs/

# Cache
.cache
*.cache

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Arquivos temporários
*.tmp
*.temp
